.block-title {
  font-family: @special-font;
  font-size: 24px;
  line-height: 26px;

  &::after {
    content: "";
    background-color: @basic-green;
    height: 2px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 7px 14px;
  }
}
