.contacts {
  padding-top: 28px;
  background-color: @basic-white;

  &--form {
    background-color: @basic-grey;
  }
}

.contacts__title {
  font-family: @special-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special-black;
  text-transform: uppercase;
  margin: 0;
}

.contacts__address-wrapper {
  margin-bottom: 26px;
}

.contacts__adress {
  line-height: 20px;
  margin: 0;
}
