.example {
  padding: 27px 0 31px 0;
  background-color: @special-grey-2;
}

.example__text {
  margin: 0;
}

.example__list {
  .reset;
  display: flex;
  margin-top: 25px;
  margin-bottom: 34px;
}

.example__stats {
  min-width: 124px;
  min-height: 56px;
  border: 1px solid @border-elements-grey;
  border-radius: 4px;
}

.example__value {
  padding: 13px 0 0 0;
  font-family: @special-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
  text-align: center;
  text-transform: uppercase;
}

.example__desc {
  display: inline-block;
  background-color: @special-grey-2;
  font-family: @basic-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey;
  text-transform: lowercase;
  text-align: center;
}

.example__price {
  margin: 0;
  font-family: @special-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @basic-black;
  text-align: center;
  text-transform: uppercase;
}
