.main-nav__toggle {
  display: block;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  background-color: @basic-white;
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 18px;
  right: 20px;
  top: 23px;
  background-image: url("../img/icon/icon_menu.svg");
  background-position: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.site-list__item {
  border-top: 1px solid @separator-grey;
}

.site-list__item:last-child {
  border-bottom: 1px solid @separator-grey;
}

.site-list__link {
  font-family: @special-font-medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 65px;
  color: @basic-black;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: fade(@basic-black, 60%);
  }

  &:active {
    color: fade(@basic-black, 30%);
  }
}
